@import "../psychologist/style/base";
@import "../psychologist/style/variables";

@import "../psychologist/style/header";
@import "../psychologist/style/intro";
@import "../psychologist/style/about";
@import "../psychologist/style/kpt";
@import "../psychologist/style/workformat";
@import "../psychologist/style/additional";
@import "../psychologist/style/gallery";
@import '../psychologist/style/form';
@import "../psychologist/style/contact";
@import "../psychologist/style/review";
@import "../psychologist/style/footer";

/* ABOUT ME SECTION*/

/*.about-section {
	background-color: rgb(255, 255, 255);
}

.spacediv {
	height: 16px;
}

.aboutme-info {
	width: 50%;
	display: flex;
	text-align: center;
	line-height: 1.5;
	font-weight: 600;
	border: solid #d7ccc8 5px;
}

.aboutme-foto {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aboutmefoto-wrapper {
	background-image: url(./images/IMG_4902.jpeg);
	background-size: cover;
	width: 550px;
	height: 800px;
}

.aboutme-headline,
.aboutme-text {
	margin: 10px;
}*/

/* KPT SECTION*/

/*ABOUR ME SECOND*/

/* WORK FORMAT */

/*ADDITIONAL SECTION*/

/* СЛАЙДЕР  */

/* CONTACTS  */

/* REVIEWS */

/*FOOTER*/
