$light-color: rgb(255, 255, 255);
$primary-color: #efebe9;
$secondary-color: #d7ccc8;
$button-color: rgba(215, 204, 200, 0.7);
$hover-text-color: #3e2723;
$header-color: rgba(255, 255, 255, 0.6);
$line-color: #bbb;
$gallery-button-color: rgba(0, 0, 0, 0.5);
$gallery-button-hover: rgba(0, 0, 0, 1);
$dot-color: #717171;
$format-text-color: rgba(255, 255, 255, 0.5);
